{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 60
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
